{% extends "base/users/profile.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% include 'base/users/profile_header.html' %}
    <div class="container-lg w-75 mb-5">
     <fieldset class="p-0 m-0" style="align-items: center;color:#fff;">
         <legend class="w-auto px-auto m-auto fs-5" style="color:#fff" >Change Password</legend>
        <section class="container w-100">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" value="password-change" style="text-align: end;">Click</button>
            </form>
            {% if request.error %}
                <p>{{ request.error }}</p>
            {% else %}
                <p>{{ message }}</p>
            {% endif %}
        </section>
     </fieldset>
    </div>
{% endblock %}