{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<section class="container-lg shop">
<h1 class="justify-content-center display-2 mb-5">Category products</h1>
    <hr class="border-2 border-top border-danger" />
    <div class="wrap">
        <div class="col-3 article">
            <h1>Product name</h1>
            <div class="article1-body">
                <img src="{% static 'images/pexels-dids-3844788.jpg' %}" alt="" />
                <p>Saome text lorem ipsut</p>
                <button class="article1-button">Add to cart</button>
            </div>


        </div>
        <div class="col-3 article">
            <h1 class="article-head">Product name</h1>
            <div class="article1-body">
                <img src="{% static 'images/pexels-dids-3844788.jpg' %}" alt="" />
                <p>Saome text lorem ipsut</p>
                <button class="article1-button">Add to cart</button>
            </div>


        </div>
        <div class="col-3 article">
            <h1>Product name</h1>
            <div class="article1-body">
                <img src="{% static 'images/pexels-dids-3844788.jpg' %}" alt="" />
                <p>Saome text lorem ipsut</p>
                <button class="article1-button">Add to cart</button>
            </div>

        </div>
        <div class="col-3 article">
            <h1>Product name</h1>
            <div class="article1-body">
                <img src="{% static 'images/pexels-dids-3844788.jpg' %}" alt="" />
                <p>Saome text lorem ipsut</p>
                <button class="article1-button">Add to cart</button>
            </div>



        </div>
        <div class="col-3 article">
            <h1>Product name</h1>
            <div class="article1-body">
                <img src="{% static 'images/pexels-dids-3844788.jpg' %}" alt="" />
                <p>Saome text lorem ipsut</p>
                <button class="article1-button">Add to cart</button>
            </div>


        </div>
        <div class="col-3 article">
            <h1>Product name</h1>
            <div class="article1-body">
                <img src="{% static 'images/pexels-dids-3844788.jpg' %}" alt="" />
                <p>Saome text lorem ipsut</p>
                <button class="article1-button">Add to cart</button>
            </div>


        </div>
        <div class="col-3 article">
            <h1>Product name</h1>
            <div class="article1-body">
                <img src="{% static 'images/pexels-dids-3844788.jpg' %}" alt="" />
                <p>Saome text lorem ipsut</p>
                <button class="article1-button">Add to cart</button>
            </div>


        </div>
        <div class="col-3 article">
            <h1>Product name</h1>
            <div class="article1-body">
                <img src="{% static 'images/pexels-dids-3844788.jpg' %}" alt="" />
                <p>Saome text lorem ipsut</p>
                <button class="article1-button">Add to cart</button>
            </div>


        </div>
        <div class="col-3 article">
            <h1>Product name</h1>
            <div class="article1-body">
                <img src="{% static 'images/pexels-dids-3844788.jpg' %}" alt="" />
                <p>Saome text lorem ipsut</p>
                <button class="article1-button">Add to cart</button>
            </div>


        </div>
        <div class="col-3 article">
            <h1>Product name</h1>
            <div class="article1-body">
                <img src="{% static 'images/pexels-dids-3844788.jpg' %}" alt="" />
                <p>Saome text lorem ipsut</p>
                <button class="article1-button">Add to cart</button>
            </div>


        </div>
        <div class="col-3 article">
            <h1>Product name</h1>
            <div class="article1-body">
                <img src="{% static 'images/pexels-dids-3844788.jpg' %}" alt="" />
                <p>Saome text lorem ipsut</p>
                <button class="article1-button">Add to cart</button>
            </div>


        </div>
        <div class="col-3 article">
            <h1>Product name</h1>
            <div class="article1-body">
                <img src="{% static 'images/pexels-dids-3844788.jpg' %}" alt="" />
                <p>Saome text lorem ipsut</p>
                <button class="article1-button" name="button">Add to cart</button>
            </div>


        </div>
    </div>

</section>
{% endblock %}