{% load static %}
<section class="row helper-menu">
    <section class="col-lg-3">
        <ul>
            <li>
                <a href="#">Contacts</a>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
        </ul>
    </section>
    <section class="col-lg-3">
        <ul>
            <li>
                <a href="#">Contacts</a>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
        </ul>
    </section>
    <section class="col-lg-3">
        <ul>
            <li>
                <a href="#">Contacts</a>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
        </ul>
    </section>
    <section class="col-lg-3">
        <ul>
            <li>
                <a href="#">Contacts</a>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
        </ul>
    </section>
</section>